/* HomePage.css */
.content-wrapper {
    border: 2px solid black;
    margin: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #E8DECD;
    min-height: 100vh;
    box-sizing: border-box;
  }

.homepage {
    background-color: #E8DECD;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header {
    position: relative;
    margin-left: 10px;
  }
  
  .cover-image {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .title-box {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: #E8DECD;
    border: 3px solid black;
    padding: 20px 20px;
  }

  .magazine-title {
    margin: 0;
    font-size: 6rem;
    font-family: 'Georgia', serif;
    color: #BA2C15;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .cover-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: block;
    top: 200px;
    left: 10px;
  }
